* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #FF7518; /* pumpkin */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    width: 90%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    min-height: 100%;
	border-radius: 6%;
}


/* Header and logo styling */
#logo {
    float: right;
    display: inline-block;
    padding: 2px;
    max-width: 100px;
    width: 20%;
}

h1.masthead {
    font-family: 'Holtwood One SC', serif;
    font-size: 3em;
    margin-top: 0;
}

/* Navigation Styling */
nav {
    text-align: center;
    width: 100%;
}

nav h3 {
    font-weight: bolder;
    margin-bottom: 20px; /* Adds space below the heading */
    text-align: center; /* Ensures the heading is centered */
}

/* Flex container for the links */
#specials .links {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping when screen size reduces */
    justify-content: center; /* Centers the links */
    gap: 20px; /* Space between the links */
    margin-top: 20px; /* Space above the links */
}

#specials a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    display: inline-block; /* Keeps the links inline within the container */
    white-space: nowrap; /* Prevents text from wrapping within each link */
    transition: color 0.3s;
}

#specials a:hover {
    color: #FF7518; /* Pumpkin color for hover effect */
}

footer {
    text-align: center;
    clear: both;
}